@namespace Caspian.UI
@typeparam TEntity
@attribute [CascadingTypeParameter(nameof(TEntity))]
@inherits DataView<TEntity>
<CascadingValue Value="this" Name="DataView">
    <div @ref="element" class="c-widget c-data-view">
        <DataToolsBar TEntity="TEntity" HideInsertIcon="HideInsertIcon" OnInsertButoonClicked="CreateInsert" />
        <div class="c-dataview-header">
            @HeaderTempalte
        </div>
        @if (fieldsExpression == null)
        {
            fieldsExpression = new List<Expression>();
            @Fields(default)
        }
        else
        {
            var style = ContentHeight == null ? null : $"height:{ContentHeight}px;";
            <div class="c-dataview-content" style="@(style)">
                @if (insertedEntity?.UpsertMode != null && Inline && UpsertType == UpsertType.Inline)
                {
                    <div class="c-listview-insert">
                        @if (selectedEntity == null)
                        {
                            <CaspianContainer @ref="insertContiner">
                                <CascadingValue Value="InsertContext">
                                    <CaspianValidationValidator Source="source" ValidatorType="serviceType" />
                                    <CascadingValue Value="insertedEntity" Name="RowData">
                                        @Fields(insertedEntity)
                                    </CascadingValue>
                                </CascadingValue>
                            </CaspianContainer>
                        }
                        else
                        {
                            <CaspianContainer Disabled>
                                <CascadingValue Value="insertedEntity" Name="RowData">
                                    @Fields(insertedEntity)
                                </CascadingValue>
                            </CaspianContainer>
                        }
                    </div>
                }
                @if (items != null)
                {
                    var index = 0;
                    foreach (var item in items)
                    {
                        var rowIndex = index;
                        var className = $"c-listview-row";
                        if (item == selectedEntity)
                            SelectedRowIndex = rowIndex;
                        if (rowIndex == SelectedRowIndex)
                            className += " c-selected"; 
                        var rowData = new RowData<TEntity>()
                            {
                                Data = item,
                                RowIndex = rowIndex,
                                UpsertMode = item == selectedEntity ? UpsertMode.Edit : null
                            };
                        index++;
                        <div class="@className" @onclick="() => SelectedRowIndex = rowIndex">
                            <CascadingValue Value="rowData" Name="RowData">
                                @if (item == selectedEntity)
                                {
                                    <CascadingValue Value="EditContext">
                                        <CaspianValidationValidator @ref="validator" Source="source" ValidatorType="serviceType" />
                                        <CaspianContainer @ref="updateContiner">
                                            @Fields(rowData)
                                        </CaspianContainer>
                                    </CascadingValue>

                                }
                                else
                                {
                                    @Fields(rowData)
                                }
                            </CascadingValue>
                        </div>
                    }
                }
            </div>
            <DataPager PageNumber="pageNumber" PageNumberChanged="async t => await ChangePageNumber(t)" TotalRecord="Total" PageSize="PageSize" />
        }
    </div>



</CascadingValue>
@if (UpsertType != UpsertType.Inline)
{
    <Window @bind-Status="status" Style="width:800px;">
        <Content>
            @if (status == WindowStatus.Open)
            {
                <CaspianForm Model="insertedEntity">
                    <CaspianValidationValidator ValidatorType="serviceType" />
                    <CascadingValue Value="this" Name="DataView">
                        <CascadingValue Value="insertedEntity" Name="RowData">
                            @Fields(insertedEntity)
                        </CascadingValue>
                    </CascadingValue>
                </CaspianForm>
            }
        </Content>
    </Window>
}