@namespace Caspian.UI
@typeparam TEntity
@{
    Grid.AddCommandColumn(HeaderTitle, HeaderWidth);
    var test = false;
}
<td @attributes="attrs">
    @if (test)
    {
        <span class="c-check">
            <span class="t-icon fa fa-check"></span>
        </span>
        <span class="c-bar" @onclick="@(async () => { await DeleteAsync(); })">
            <span class="t-icon fa fa-ban"></span>
        </span>
    }
    else
    {
        if (!HideEdit)
        {
            <span @onclick="@(async () => { await OpenForm(); })" class="@editButtonClassName">
                <span class="t-icon t-edit fa fa-pencil"></span>
            </span>
        }
        if (!HideDelete)
        {
            <span @onclick="@(async () => { await DeleteAsync(); })" class="@deleteButtonClassName">
                <span class="t-icon t-delete fa fa-trash"></span>
            </span>
        }
    }
</td>
