@namespace Caspian.UI
@inject CaspianDataService service
@typeparam TEntity
@{
    Grid.AddCommandColumn(HeaderTitle, HeaderWidth);
}
<td @attributes="attrs">
    @if (RowData?.UpsertMode != null)
    {
        <span class="c-check">
            <span class="t-icon fa fa-check" @onclick="@(async () => await Grid.ValidateAndUpsert(RowData.UpsertMode.Value))"></span>
        </span>
        <span class="c-bar" @onclick="@(async () => await Grid.CalcelEdit(RowData.UpsertMode.Value))">
            <span class="t-icon fa fa-ban"></span>
        </span>
    }
    else
    {
        if (!HideEdit)
        {
            <span @onclick="@(async () => { await OpenForm(); })" class="@editButtonClassName">
                <span class="t-icon t-edit fa fa-pencil"></span>
            </span>
        }
        if (!HideDelete)
        {
            <span @onclick="@(async () => { await DeleteAsync(); })" class="@deleteButtonClassName">
                <span class="t-icon t-delete fa fa-trash"></span>
            </span>
        }
    }
</td>
