@page "/Demo/DropdownList" 
@namespace Demo.Web.Pages
@inherits BasePage
<div class="row d-head">
    <div class="col-md-6">
        <h3>Dropdown List</h3>
    </div>
    <div class="d-source-btn col-md-6">
        <button @onclick="() => status = WindowStatus.Open" class="c-btn c-primary">
            Source<i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="d-body">
    <div class="row">
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Bind To Enum</h4>
                <div class="row">
                    <div class="col-md-12">
                        <CheckBox @bind-Value="disable" Title="Disable" />
                    </div>
                    <div class="col-md-6">
                        <label>Action</label>
                    </div>
                    <div class="col-md-6 text-center">
                        <button class="t-button" @onclick="async () => await DropdownFocus()">Focus</button>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Value</label>
                    </div>
                    <div class="col-md-6 text-center">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.ConvertToInt() : "-----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Title</label>
                    </div>
                    <div class="col-md-6 text-center">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.FaText() : "-----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Enum Title</label>
                    </div>
                    <div class="col-md-6 text-center">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.ToString() : "-----")</label>
                    </div>
                    <div class="col-md-10">
                        <DropdownList @ref="dropdownList" @bind-Value="orderType" Disabled="disable" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Items filter</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label>Selected Value</label>
                    </div>
                    <div class="col-md-6 text-center">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.ConvertToInt() : "-----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Title</label>
                    </div>
                    <div class="col-md-6 text-center">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.FaText() : "-----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Enum Title</label>
                    </div>
                    <div class="col-md-6 text-center">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.ToString() : "-----")</label>
                    </div>
                    <div class="col-md-10">
                        <DropdownList @bind-Value="orderType" FilterFunc="orderType => orderType != Model.OrderType.Salon" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<CreatePdfComponent @bind-Status="status" Title="Default" FileName="Dropdown.pdf" Title1="Enume Code" FileName1="OrderType-Enum.pdf" />

@code 
{
    bool disable;
    Demo.Model.OrderType? orderType;
    DropdownList<Demo.Model.OrderType?> dropdownList;
    WindowStatus status;

    async Task DropdownFocus()
    {
        await dropdownList.FocusAsync();
    }
}
