@page "/Demo/NumericTextBox"
@namespace Demo.Web.Pages
<h2>BasePage</h2>
<h3>Binding</h3>
<p>
    This component can be bind to <b>integer</b> (long, int, short, ...) and <b>decimal</b> (double, decimal, float, ...) and can be bind to <b>nullable numeric type.</b><br/><b>Binding</b> can be done in <b>two ways:</b> <b>on input</b> and <b>on change.</b> we can use <b>BindingType parameter</b> to specify it.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Bind to integer</h4>
                        <span class="c-demo-description">In this example <b><i>intValue</i></b> is an <b>int variable</b> and the control bind to it. And we also use the <b>BindingType parameter</b> to <b>specify the type of binding</b> (on input or on change).</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row c-controls">
                            <div class="ps-5 col-md-6">
                                <label>Binding type</label>
                            </div>
                            <div class="pe-5 col-md-6">
                                <RadioList @bind-Value="bindingType" />
                            </div>
                            <div class="col-md-12 ps-5 pe-5">
                                <NumericTextBox @bind-Value="intValue" BindingType="bindingType" />
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>value</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <label style="color:red;">@intValue.Seprate3Digit()</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <h4>Bind to nullable integer</h4>
                        <span class="c-demo-description">In this example <b><i>intNullableValue</i></b> is an <b>int nullable variable</b> and the control bind to it. And we also use the <b>Total parameter</b> to specify the <b>number of digits</b></span>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <div class="row c-controls">
                            <div class="ps-5 col-md-6">
                                <label>Total digits</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <NumericTextBox @bind-Value="total" Style="width:80px" />
                            </div>
                            <div class="ps-5 pe-5 col-md-12">
                                <NumericTextBox @bind-Value="intNullableValue" Total="total" />
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>Value</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <label style="color:red;">@(intNullableValue == null ? "---" : intNullableValue.Seprate3Digit())</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <h4>Bind to decimal</h4>
                        <span class="c-demo-description">In this example <b><i>decimalValue</i></b> is an <b>decimal variable</b> and the control bind to it. and we also use <b>NumberDigit parameter </b>to determine the <b>number of decimal places</b></span>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <div class="row c-controls">
                            <div class="ps-5 col-md-6">
                                <label>Total digits</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <NumericTextBox @bind-Value="total" Style="width:80px" />
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>number of digits</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <NumericTextBox @bind-Value="numberDigit" Style="width:80px" />
                            </div>
                            <div class="col-md-12 ps-5 pe-5">
                                <NumericTextBox @bind-Value="decimalValue" Total="total" NumberDigit="numberDigit" />
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>Value</label>
                            </div>
                            <div class="pe-5 col-md-6 text-center">
                                <label style="color:red;">@(decimalValue.Seprate3Digit())</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="NumericTextBox" FileName="Binding" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
<h3 class="pt-3">General properties</h3>
<p>
    We can specify general properties such as width and disable. if we do not specify the width of the control, its width will be 100% and fit to parent. And we also can call FocusAsync method to focus to the control.
</p>
<TabPanel>
    <Tabs>
        <TabPanelItem Title="<i class='fa fa-bar-chart'></i>Demo">
            <div class="d-content">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Width property</h4>
                        <span class="c-demo-description">By setting the <b>Style</b> parameter, we can easily <b>change width</b> and <b>other css properties</b> of the control. it <b>has intellisense</b> for css properties.</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row c-controls">
                            <div class="col-md-6 ps-5">
                                <label>Control size</label>
                            </div>
                            <div class="col-md-6 pe-5">
                                <DropdownList @bind-Value="controlSize" />
                            </div>
                            <div class="col-md-12 ps-5 pe-5">
                                <NumericTextBox @bind-Value="intValue" Style="@GetStyle()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <h4>Disable control</h4>
                        <span class="c-demo-description">By setting the <b>Disabled parameter</b>, we can easily <b>enable & disable</b> the control. This parameter is a <b>boolean</b> parameter</span>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <div class="row c-controls">
                            <div class="ps-5 col-md-6">
                                <label>Enable/Disable</label>
                            </div>
                            <div class="pe-5 col-md-6">
                                <CheckBox @bind-Value="disable" />
                            </div>
                            <div class="ps-5 col-md-6">
                                <label>Action</label>
                            </div>
                            <div class="col-md-6 text-center">
                                <button disabled="@disable" @onclick="async () => await control.FocusAsync()" class="c-btn c-primary">Focus</button>
                            </div>
                            <div class="ps-5 pe-5 col-md-12">
                                <NumericTextBox @ref="control" @bind-Value="intValue" Disabled="disable" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </TabPanelItem>
        <TabPanelItem Title="<i class='fa fa-code'></i>Razor">
            <Document FolderName="NumericTextBox" FileName="Generalproperties" />
        </TabPanelItem>
    </Tabs>
</TabPanel>
@code {
    IControl control;
    int total = 8;
    int intValue;
    bool disable;
    int numberDigit = 2;
    int? intNullableValue;
    bool digitGrouping = true;
    decimal decimalValue;
    BindingType bindingType = BindingType.OnChange;
    ControlSize controlSize = ControlSize.Auto;

    string GetStyle()
    {
        switch (controlSize)
        {
            case ControlSize.Large:
                return "width:300px";
            case ControlSize.Medium:
                return "width:200px";
            case ControlSize.Small:
                return "width:150px";
            case ControlSize.Auto:
                return "";
        }
        throw new NotImplementedException();
    }
}
