@page "/Demo/NumericTextBox"
@namespace Demo.Web.Pages
<h3>Numeric Text Box</h3>
<p>
    این کنترل برای نوع داده ای عددی و به دو صورت عدد صحیح و اعشاری مورد استفاده قرار می گیرد.
</p>
<p>
    در صورت Binging به int بصورت عدد صحیحی، و در صورت Binding به سایر نوعهای عددی بصورت اعشاری مورد استفاده قرار می گیرد.
</p>
<table style="width:90%;margin:0 auto">
    <tr>
        <td style="width:120px;">
            <label>نوع عددی</label>
        </td>
        <td>
            <RadioList @bind-Value="NumericType" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Nullable</label>
        </td>
        <td>
            <CheckBox @bind-Value="nullable" />
        </td>
    </tr>
    <tr>
        <td>
            <label>غیرفعال</label>
        </td>
        <td style="width:300px">
            <CheckBox @bind-Value="disable" />
        </td>
    </tr>
    <tr>
        <td>
            <label>گروه بندی عددی</label>
        </td>
        <td style="width:300px">
            <CheckBox @bind-Value="digitGrouping" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Binding type</label>
        </td>
        <td>
            <RadioList @bind-Value="BindingType" />
        </td>
    </tr>
    <tr>
        <td>
            <label>@(NumericType == NumericType.Decimal ? "تعداد کل ارقام" : "تعداد ارقام")</label>
        </td>
        <td>
            <NumericTextBox @bind-Value="total" />
        </td>
    </tr>
    @if (NumericType == NumericType.Decimal)
    {
        <tr>
            <td>
                <label>تعداد ارقام اعشاری</label>
            </td>
            <td>
                <NumericTextBox @bind-Value="numberDigit" />
            </td>
        </tr>
    }

</table>
@if (nullable)
{
    @if (NumericType == NumericType.Decimal)
    {
        <NumericTextBox @ref="control" @bind-Value="decimalNullValue" NumberDigit="numberDigit" Total="total" BindingType="BindingType" Disabled="disable"
                        DigitGrouping="digitGrouping" />
        <label>Decimal null value: </label><span>@(decimalValue.Seprate3Digit())</span>
    }
    else
    {
        <NumericTextBox @ref="control" @bind-Value="intNullValue" Total="total" BindingType="BindingType" DigitGrouping="digitGrouping" Disabled="disable" />
        <label>int null value: </label><span>@(intNullValue.Seprate3Digit())</span>
    }
}
else
{
    @if (NumericType == NumericType.Decimal)
    {
        <NumericTextBox @ref="control" @bind-Value="decimalValue" NumberDigit="numberDigit" Total="total" BindingType="BindingType" Disabled="disable"
                        DigitGrouping="digitGrouping" />
        <label>Decimal value: </label><span>@(decimalValue.Seprate3Digit())</span>
    }
    else
    {
        <NumericTextBox @ref="control" @bind-Value="intValue" Total="total" BindingType="BindingType" DigitGrouping="digitGrouping" Disabled="disable" />
        <label>Int value: </label><span>@(intValue.Seprate3Digit())</span>
    }
}
<button class="t-input" @onclick="async () => { await control.FocusAsync(); }" >Focus</button>
@code {
    IControl control;
    int total;
    int intValue;
    bool disable;
    bool nullable;
    int numberDigit;
    int? intNullValue;
    bool digitGrouping = true;
    decimal decimalValue;
    decimal? decimalNullValue;
    NumericType NumericType = NumericType.Int;
    BindingType BindingType = BindingType.OnChange;
}
