@page "/Demo/RadioList"
@namespace Demo.Web.Pages
<div class="row d-head">
    <div class="col-md-6">
        <h3>Radio List Button</h3>
    </div>
    <div class="d-source-btn col-md-6">
        <button @onclick="() => status = WindowStatus.Open" class="c-btn c-primary">
            Source
            <i class="fa fa-code"></i>
        </button>
    </div>
</div>
<div class="d-body">
    <div class="row">
        <div class="col-md-6 d-control">
             <hr />
             <div class="d-container">
                <h4>Bind to enum</h4>
                <div class="row">
                    <div class="col-md-12">
                        <CheckBox @bind-Value="disabled" Title="Disable" />
                    </div>
                    <div class="col-md-6">
                        <label>Selected Value</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.ConvertToInt() : "----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Title</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(orderType.HasValue ? orderType.FaText() : "----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Enum Title</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(orderType.HasValue ? orderType.ToString() : "----")</label>
                    </div>
                    <div class="col-md-12">
                        <RadioList Disabled="disabled" @bind-Value="orderType" />
                    </div>
                </div>
             </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Custom Align</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label>Selected Value</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(orderType.HasValue ? orderType.Value.ConvertToInt() : "----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Title</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(orderType.HasValue ? orderType.FaText() : "----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Enum Title</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(orderType.HasValue ? orderType.ToString() : "----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Enum Title</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(orderType.HasValue ? orderType.ToString() : "----")</label>
                    </div>
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <RadioList @bind-Value="orderType">
                                        <RadioItems>
                                            <div style="height:30px;text-align:center;display:table-row">
                                                <RadioItem Value="Model.OrderType.Salon" />
                                            </div>
                                            <div>
                                                <RadioItem Value="Model.OrderType.Package" />
                                                <RadioItem Value="Model.OrderType.Tel" />
                                            </div>
                                            <div style="height:30px;text-align:center;display:table-row">
                                                <RadioItem Value="Model.OrderType.Internet" />
                                            </div>
                                        </RadioItems>
                                    </RadioList>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Bind to Data Source</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label>Selected Value</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(selectedNumber.HasValue ? selectedNumber.Value : "----")</label>
                    </div>
                    <div class="col-md-6">
                        <label>Selected Title</label>
                    </div>
                    <div class="col-md-6">
                        <label style="color:red;">@(selectedNumber.HasValue ? items[selectedNumber.Value - 1].Text : "----")</label>
                    </div>
                    <div class="col-md-12">
                        <RadioList @bind-Value="selectedNumber" Source="items" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-control">
            <hr />
            <div class="d-container">
                <h4>Disable Items</h4>
                <div class="row">
                    <div class="col-md-6">
                        <CheckBox @bind-Value="salon" Title="@Model.OrderType.Salon.FaText()" />
                    </div>
                    <div class="col-md-6">
                        <CheckBox @bind-Value="packaging" Title="@Model.OrderType.Package.FaText()" />
                    </div>
                    <div class="col-md-6">
                        <CheckBox @bind-Value="tel" Title="@Model.OrderType.Tel.FaText()" />
                    </div>
                    <div class="col-md-6">
                        <CheckBox @bind-Value="internet" Title="@Model.OrderType.Internet.FaText()" />
                    </div>
                    <div class="col-md-12">
                        <RadioList @bind-Value="orderType">
                            <RadioItems>
                                <RadioItem Value="Model.OrderType.Salon" Disabled="salon" />
                                <RadioItem Value="Model.OrderType.Package" Disabled="packaging" />
                                <RadioItem Value="Model.OrderType.Tel" Disabled="tel" />
                                <RadioItem Value="Model.OrderType.Internet" Disabled="internet" />
                            </RadioItems>
                        </RadioList>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<CreatePdfComponent @bind-Status="status" Title="Radio List" Title1="Order Type-Enum" FileName="RadioList.pdf" FileName1="OrderType-Enum.pdf" />

@code {
    WindowStatus status;
    Model.OrderType? orderType = Model.OrderType.Salon;
    int? selectedNumber;
    IList<SelectListItem> items;
    bool disabled;
    bool salon;
    bool packaging;
    bool tel;
    bool internet;

    protected override void OnInitialized()
    {
        var numbers = new string[] { "One", "Two", "Three", "Four" };
        items = numbers.Select((t, index) => new SelectListItem((index + 1).ToString(), t)).ToList();
        base.OnInitialized();
    }
}
