@namespace Caspian.UI
@using System.Diagnostics
@inherits CBaseInput<string>
    @if (Disabled)
        className += " t-state-disabled";
    else if (ErrorMessage != null)
        className += " t-state-error";

<div class="@className" error-message="@ErrorMessage">
    @if (MultiLine)
    {
        <textarea @ref="htmlElement" style="@Style" @attributes="InputAttributes" @onchange="ChangeValue">@Value</textarea>
    }
    else
    {
        @if (base.BindingType == BindingType.OnChange)
        {
            <input value="@Value" @onchange="ChangeValue" @ref="htmlElement" style="@Style" @attributes="InputAttributes" autocomplete="off" />
        }
        else
        {
            <input value="@Value" @oninput="ChangeValue" @ref="htmlElement" style="@Style" @attributes="InputAttributes" autocomplete="off" />
        }
    }
</div>
@code
{
    string className;

    async Task ChangeValue(ChangeEventArgs arg)
    {
        Value = arg.Value.ToString();
        if (ValueChanged.HasDelegate)
            await ValueChanged.InvokeAsync(Value);
        if (OnChange.HasDelegate)
            await OnChange.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        if (Id == null)
            Id = "";
        if (ValueExpression != null)
        {
            var expr = ValueExpression.Body;
            while (expr.NodeType == ExpressionType.MemberAccess)
            {
                var property = (expr as MemberExpression).Member;
                if (property.Name == "SearchData" || property.Name == "MemberSearch")
                {
                    var type = property.DeclaringType;
                    if (type.IsGenericType)
                    {
                        var genericType = type.GetGenericTypeDefinition();
                        Search = true;
                        BindingType = BindingType.OnInput; 
                    }
                }
                expr = (expr as MemberExpression).Expression;
            }
        }
        base.OnInitialized();
    }

    protected override Task OnParametersSetAsync()
    {
        className = "t-widget";
        if (MultiLine)
            className += " t-multitextbox";
        else
            className += " t-stringtextbox";

        if (MaxLength.HasValue)
            InputAttributes["maxlength"] = MaxLength;
        if (MultiLine)
        {
            if (Cols.HasValue)
                InputAttributes["cols"] = Cols;
            if (Rows.HasValue)
                InputAttributes["rows"] = Rows;
        }

        if (Disabled)
            InputAttributes["disabled"] = "disabled";
        else
            InputAttributes.Remove("disabled");
        InputAttributes["class"] = "t-input";
        if (Id.HasValue())
        {
            var id = Id.Replace('.', '_');
            InputAttributes["id"] = id;
            InputAttributes["name"] = id;
        }
        if (InputAttributes != null)
        {
            foreach(var item in InputAttributes)
                InputAttributes[item.Key] = item.Value;
        }
        return base.OnParametersSetAsync();
    }

    [Parameter]
    public int? MaxLength { get; set; }

    [Parameter]
    public bool MultiLine { get; set; }

    [Parameter]
    public int? Cols { get; set; }

    [Parameter]
    public int? Rows { get; set; }

    public string Type { get; set; } = "string";

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        var data = new
        {
            focused = Focused,
            multiLine = MultiLine,
            total = this.MaxLength
        };
        //await jsRuntime.InvokeVoidAsync("$.caspian.bindControl", htmlElement, System.Text.Json.JsonSerializer.Serialize(data), UiControlType.TextBox);
        await base.OnAfterRenderAsync(firstRender);
    }
}
