@namespace Caspian.Report
@using Caspian.Common
@{
    var style = $"left:{Data.Left}px;top:{Data.Top}px";
}
<table style="@style" class="reportcontrol tablecontrol" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="width:15px;"></th>
            @{
                var index = 1;
            }
            @foreach (var cell in Data.HeaderCells)
            {
                var tempIndex = index;
                <th style="width:@(cell.Width)px;"></th>
                index++;
            }
        </tr>
    </thead>
    <tbody>
        @{
            var rowIndex = 1;
        }
        @foreach (var row in Data.Rows)
        {
            var tempRowIndex = rowIndex;
            <tr style="line-height:@(row.Height)px">
                @{
                    var colIndex = 1;
                }
                <td class="rowHeader" style="height:@(row.Height)px"></td>
                @foreach(var cell in row.Cells)
                {
                    var tempColIndex = colIndex;
                    var className = "";
                    if (BoundItem?.Bound.Page.SelectedTable == this)
                        if (selectedCells.Any(t => t.Row.RowIndex == tempRowIndex && t.ColIndex == tempColIndex))
                            className = "cellselected";
                    if (cell.Hidden)
                        className += " hidden-cell";
                    <td colspan="@(cell.ColSpan)" rowspan="@(cell.RowSpan)" class="@(className)" @onmousedown="e => SelectTableCell(e.CtrlKey, cell)">@(cell.Text)</td>
                    colIndex++;
                }
            </tr>
            rowIndex++;
        }
    </tbody>
</table>


