@namespace Caspian.Report
@using Caspian.Common
@{
    var style = $"left:{Left}px;top:{Top}px";
}
<table style="@style" class="reportcontrol tablecontrol" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="width:15px;"></th>
            @{
                var index = 1;
            }
            @foreach (var cell in TableData.HeaderCells)
            {
                var tempIndex = index;
                <th style="width:@(cell.Width)px;"></th>
                index++;
            }
        </tr>
    </thead>
    <tbody>
        @{
            var rowIndex = 1;
        }
        @foreach (var row in TableData.Rows)
        {
            var tempRowIndex = rowIndex;
            <tr style="line-height:@(row.Height)px">
                @{
                    var colIndex = 1;
                }
                <td class="rowHeader" style="height:@(row.Height)px"></td>
                @foreach(var cell in row.Cells)
                {
                    var tempColIndex = colIndex;
                    var className = "";
                    if (Bound != null && Bound.Page.SelectedTable == this)
                        if (selectedCells.Any(t => t.Row.RowIndex == tempRowIndex && t.ColIndex == tempColIndex))
                            className = "cellselected";
                    if (cell.Hidden)
                        className += " hidden-cell";
                    <td colspan="@(cell.ColSpan)" rowspan="@(cell.RowSpan)" class="@(className)" @onmousedown="e => SelectTableCell(e.CtrlKey, cell)">@(cell.Text)</td>
                    colIndex++;
                }
            </tr>
            rowIndex++;
        }
    </tbody>
</table>

@code 
{
    IList<TableCell> selectedCells;
    ChangeKind? changeKind;
    int? changeColIndex, leftCellStartWidth, rightCellStartWidth, xStart, leftStart, difrentCurcer;

    int? changeRowIndex, heightStart, yStart;

    #region Add or Remove Column and row
    void InsertRow(bool insertBefor, int index)
    {
        /// Insert column befor or after the selected row
        var row = new TableRow();
        for (var i = 1; i < TableData.HeaderCells.Count; i++)
            row.Cells.Add(new TableCell(row));
        TableData.Rows.Insert(insertBefor ? index : index - 1, row);
        UpdateRowAndColumnIndex();
    }

    void RemoveRow(int index)
    {
        TableData.Rows.RemoveAt(index - 1);
        UpdateRowAndColumnIndex();
    }

    void InsertColumn(bool insertBefor, int index)
    {
        /// Insert column befor or after the selectd column
        var tempIndex = insertBefor ? index : index - 1;
        var head = TableData.HeaderCells.ElementAt(index - 1);
        TableData.HeaderCells.Insert(tempIndex, new HeaderCell() { Width = head.Width / 2 });
        head.Width = head.Width - head.Width / 2;
        foreach (var row in TableData.Rows)
            row.Cells.Insert(tempIndex, new TableCell(row));
        UpdateRowAndColumnIndex();
    }

    void RemoveColumn(int index)
    {
        var headerCells = TableData.HeaderCells;
        var curent = headerCells.ElementAt(index - 1);
        if (index == 1)
        {
            var next = headerCells.ElementAt(index);
            next.Width += curent.Width;
        }
        else
        {
            var pre = headerCells.ElementAt(index - 2);
            pre.Width += curent.Width;
        }
        foreach (var row in TableData.Rows)
            row.Cells.RemoveAt(index - 1);
        headerCells.Remove(curent);
        UpdateRowAndColumnIndex();
    }

    void UpdateRowAndColumnIndex()
    {
        var rowIndex = 1;
        foreach (var row in TableData.Rows)
        {
            row.RowIndex = rowIndex;
            var colIndex = 1;
            foreach (var cell in row.Cells)
            {
                cell.ColIndex = colIndex;
                colIndex++;
            }
            rowIndex++;
        }
    }
    #endregion

    #region Merge and unmerge
    public void UnmergeSelectedCell()
    {
        var selectedCell = selectedCells.Single();
        if (selectedCell.ColSpan > 1)
        {
            foreach(var cell in selectedCell.Row.Cells)
            {
                if (cell.ColIndex > selectedCell.ColIndex && cell.ColIndex <= selectedCell.ColIndex + selectedCell.ColSpan)
                    cell.Hidden = false;

            }
            selectedCell.ColSpan = 1;
        }
    }

    public bool CanUnmerge()
    {
        if (selectedCells.Count != 1)
            return false;
        var cell = selectedCells.First();
        return cell.ColSpan > 1 || cell.RowSpan > 1;
    }

    public void MergeSelectedCells()
    {
        bool sameRow, sameCol;
        var result = CanMerge(out sameRow, out sameCol);
        if (result)
        {
            if (sameRow)
            {
                var min = selectedCells.Min(t => t.ColIndex);
                var row = TableData.Rows.ElementAt(selectedCells.First().Row.RowIndex - 1);
                var index = 1;
                foreach (var cell in row.Cells)
                {
                    if (index == min)
                        cell.ColSpan = selectedCells.Count;
                    else if (selectedCells.Any(t => t.ColIndex == index))
                        cell.Hidden = true;
                    index++;
                }
            }
            if (sameCol)
            {
                var min = selectedCells.Min(t => t.Row.RowIndex);
                var col = selectedCells.First().ColIndex - 1;
                var index = 1;
                foreach (var row in TableData.Rows)
                {
                    if (index == min)
                        row.Cells.ElementAt(col).RowSpan = selectedCells.Count;
                    else if (selectedCells.Any(t => t.Row.RowIndex == index))
                        row.Cells.ElementAt(col).Hidden = true;
                    index++;
                }
            }
        }
    }

    public bool CanMerge(out bool sameRow, out bool sameCol)
    {
        sameRow = true;
        sameCol = true;
        if (selectedCells.Count < 2)
            return false;
        if (selectedCells.Max(t => t.RowSpan) > 1 || selectedCells.Max(t => t.ColSpan) > 1)
            return false;
        var firstCell = selectedCells.First();
        foreach (var cell in selectedCells)
        {
            if (cell.Row.RowIndex != firstCell.Row.RowIndex)
            {
                sameRow = false;
                break;
            }
        }
        foreach (var cell in selectedCells)
        {
            if (cell.ColIndex != firstCell.ColIndex)
            {
                sameCol = false;
                break;
            }
        }
        if (sameCol)
        {
            /// difrent max and min should be equal with selected cells count
            var difrent = selectedCells.Max(t => t.Row.RowIndex) - selectedCells.Min(t => t.Row.RowIndex) + 1;
            if (difrent == selectedCells.Count)
                return true;
        }
        if (sameRow)
        {
            var difrent = selectedCells.Max(t => t.ColIndex) - selectedCells.Min(t => t.ColIndex) + 1;
            if (difrent == selectedCells.Count)
                return true;
        }
        return false;
    }
    #endregion

    [Parameter]
    public int Left { get; set; }

    [Parameter]
    public TableData TableData {get;set;}

    protected override void OnInitialized()
    {
        selectedCells = new List<TableCell>();
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        if (BondType.HasValue)
        {
            
        }
        await base.OnInitializedAsync();
    }

    void SelectTableCell(bool ctrKey, TableCell cell)
    {
        if (ctrKey)
        {
            if (selectedCells.Contains(cell))
                selectedCells.Remove(cell);
            else
                selectedCells.Add(cell);
        }
        else
        {
            selectedCells.Clear();
            selectedCells.Add(cell);
        }
        Bound.ResetBond();
        Bound.DisableSelection();
        Bound.Page.SelectTable(this);
    }

    public string GetCursor(double x, double y)
    {
        if (Bound.Page.SelectedTable == this)
        {
            if (y > Top && y < Top + 20)
            {
                var leftColl = Left + 15;
                if (Math.Abs(leftColl - x) < 6)
                    return "col-resize";
                foreach (var cel in TableData.HeaderCells)
                {
                    leftColl += cel.Width;
                    if (Math.Abs(leftColl - x) < 6)
                        return "col-resize";
                }
            }
            if (x > Left && x < Left + 15)
            {
                var topRow = Top + 20;
                foreach (var row in TableData.Rows)
                {
                    topRow += row.Height;
                    if (Math.Abs(topRow - y) < 5)
                        return "row-resize";
                }
            }
        }
        return "default";
    }

    public void DragStart(double x, double y)
    {
        if (Bound.Page.SelectedTable == this)
        {
            changeKind = null;
            ///Column resize
            if (y > Top && y < Top + 20)
            {
                var leftCell = Left + 15;
                if (Math.Abs(leftCell - (int)x) < 6)
                {
                    changeKind = ChangeKind.ColumnResize;
                    changeColIndex = 1;
                    difrentCurcer = leftCell - (int)x;
                }
                var index = 2;
                foreach (var cel in TableData.HeaderCells)
                {
                    leftCell += cel.Width;
                    if (Math.Abs(leftCell - (int)x) < 6)
                    {
                        changeKind = ChangeKind.ColumnResize;
                        changeColIndex = index;
                        difrentCurcer = leftCell - (int)x;
                    }
                    index++;
                }
                
            }
            ///row resize
            if (x > Left && x < Left + 15)
            {
                var topRow = Top + 20;
                var index = 1;
                foreach (var row in TableData.Rows)
                {
                    topRow += row.Height;
                    if (Math.Abs(topRow - y) < 5)
                    {
                        changeKind = ChangeKind.RowResize;
                        changeRowIndex = index;
                    }
                    index++;
                }
            }
        }
        else
            changeKind = null;
        /// column resize
        if (changeKind == ChangeKind.ColumnResize)
        {
            xStart = (int)x;
            leftStart = (int)Left;
            if (changeColIndex.Value == 1) // first column
                rightCellStartWidth = TableData.HeaderCells.ElementAt(changeColIndex.Value - 1).Width;
            else if (changeColIndex.Value == TableData.HeaderCells.Count + 1)
            {
                //last column
                leftCellStartWidth = TableData.HeaderCells.ElementAt(changeColIndex.Value - 2).Width;
            }
            else
            {
                //others columns
                leftCellStartWidth = TableData.HeaderCells.ElementAt(changeColIndex.Value - 2).Width;
                rightCellStartWidth = TableData.HeaderCells.ElementAt(changeColIndex.Value - 1).Width;
            }
            Bound.DisableSelection();
        }
        else if (changeKind == ChangeKind.RowResize)
        {
            yStart = (int)y;
            heightStart = TableData.Rows.ElementAt(changeRowIndex.Value - 1).Height;
            Bound.DisableSelection();

        }
    }

    public async Task Drag(double x, double y)
    {
        if (changeKind == null)
            return;

        if (changeKind == ChangeKind.ColumnResize)
        {
            var actualLeft = GetCellLeftLocation();
            int left;
            Bound.ShowRuler(this, (int)x, out left);
            var dif = xStart.Value - left;
            dif += difrentCurcer.Value;
            if (changeColIndex.Value == 1)
            {
                TableData.HeaderCells.ElementAt(changeColIndex.Value - 1).Width = rightCellStartWidth.Value + 2 * dif;
                Left = leftStart.Value - dif;
            }
            else if (changeColIndex.Value == TableData.HeaderCells.Count + 1)
            {
                TableData.HeaderCells.ElementAt(changeColIndex.Value - 2).Width = leftCellStartWidth.Value - 2 * dif;
                Left = leftStart.Value + dif;
            }
            else
            {
                TableData.HeaderCells.ElementAt(changeColIndex.Value - 1).Width = rightCellStartWidth.Value + dif;
                TableData.HeaderCells.ElementAt(changeColIndex.Value - 2).Width = leftCellStartWidth.Value - dif;
            }
        }
        else
        {
            var dif = yStart.Value - (int)y;
            TableData.Rows.ElementAt(changeRowIndex.Value - 1).Height = heightStart.Value - dif;
        }

        await OnChange.InvokeAsync(TableData);
    }

    [Parameter]
    public EventCallback<TableData> OnChange { get; set; }

    [Parameter]
    public int Top { get; set; }

    [Parameter]
    public BondType? BondType { get; set; }

    [Parameter]
    public Bound Bound { get; set; }

    async Task UpdateTableLocation()
    {
        if (BondType.HasValue)
        {
            var data = await Bound.GetBondDataAsync(BondType.Value);
            Left = Convert.ToInt32(data.Left + (data.Width - TableWidth - 15) / 2);
            TableData.Top = Convert.ToInt32(data.Top);
            await OnChange.InvokeAsync(TableData);
        }
    }

    int GetCellLeftLocation()
    {
        var total = Left + 15;
        var index = 1;
        foreach(var cel in TableData.HeaderCells)
        {
            if (index < changeColIndex)
                total += cel.Width;
            index++;
        }
        return total;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateTableLocation();
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    int TableWidth
    {
        get
        {
            var total = 15;
            foreach (var cell in TableData.HeaderCells)
                total += cell.Width;
            return total;
        }
    }
}
