@namespace Caspian.Engine.WorkflowEngine
@inherits BasePage
<div style="height:54px;">
    <button @onclick="() => showEntityType = !showEntityType" class="w-button w-controls-entity" title="فیلدهای پایگاه داده ها"></button>
    <div class="c-add-control auto-hide">
        @if (showEntityType)
        {
            <ul>
                @foreach(var item in entityFields)
                {
                    var className = item.EntityFullName == EntityTypeFullName ? "c-selected" : null;
                    <li @onclick="async () => await EntityType(item.EntityFullName)" @onclick:stopPropagation @onclick:preventDefault class="@className">
                        @item.Title
                        @if (showEntityProperties && item.EntityFullName == EntityTypeFullName)
                        {
                            <ul class="c-property">
                                @if (dynamicParameters != null && dynamicParameters.Count > 0)
                                {
                                    className = showParameter ? "c-selected" : null;
                                    <li class="@className" @onclick="ShowDynamicParameter">
                                        پارامترهای پویا
                                        @if (showParameter)
                                        {
                                            <ul class="dynamic-parameter">
                                                @foreach(var param in dynamicParameters)
                                                {
                                                    className = selectedDynamicParameterId == param.Id ? "c-selected" : null;
                                                    <li class="@className" @onclick="() => SelecteDynamicParameter(param.Id)" @onclick:preventDefault @onclick:stopPropagation>@param.FaTitle</li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                                @foreach(var info in workflowEntityProperties)
                                {
                                    className = info == selectedPropertyInfo ? "c-selected" : null;
                                    var attr = info.GetCustomAttribute<DisplayNameAttribute>();
                                    var faName = attr == null ? info.Name : attr.DisplayName;
                                    <li @onclick:stopPropagation="true" class="@className" @onclick="async () => await EntityProperty(info, item.Id)">@faName</li>            
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>

@code 
{
    bool showEntityType;
    bool showEntityProperties;
    string EntityTypeFullName;
    PropertyInfo? selectedPropertyInfo;
    IList<WfFormEntityField> entityFields;
    IList<PropertyInfo> workflowEntityProperties;
    SubSystemKind subSystemKind;
    int? wfEntityFieldId;
    IList<DynamicParameter> dynamicParameters;
    int? selectedDynamicParameterId;
    bool showParameter;

    void ShowDynamicParameter()
    {
        selectedPropertyInfo = null;
        showParameter = true;
    }

    async Task SelecteDynamicParameter(int parameterId)
    {
        selectedDynamicParameterId = parameterId;
        var param = dynamicParameters.Single(t => t.Id == parameterId);
        if (OnDynamicParameterSelect.HasDelegate)
            await OnDynamicParameterSelect.InvokeAsync(param);
        HideSelector();
    }

    async Task EntityType(string key)
    {
        EntityTypeFullName = key;
        showEntityProperties = true;
        workflowEntityProperties = new AssemblyInfo().GetModelType(subSystemKind, key).GetProperties()
            .Where(t => !t.CustomAttributes.Any(t => t.AttributeType == typeof(KeyAttribute) || 
            t.AttributeType == typeof(ForeignKeyAttribute)) || t.PropertyType.IsCollectionType()).ToList();
        var scope = CreateScope();
        dynamicParameters = await new DynamicParameterService(scope).GetAll().Where(t => t.EntityName == key).ToListAsync();
    }

    async Task EntityProperty(PropertyInfo info, int wfEntityFieldId)
    {
        selectedPropertyInfo = info;
        HideSelector();
        this.wfEntityFieldId = wfEntityFieldId;
        if (OnPropertySelect.HasDelegate)
            await OnPropertySelect.InvokeAsync(info);
        selectedDynamicParameterId = null;
    }

    public void HideSelector()
    {
        showEntityProperties = false;
        showEntityType = false;
        showParameter = false;
    }

    public int? GetSelectedWfEntityFieldId()
    {
        return wfEntityFieldId;
    }

    protected async override Task OnInitializedAsync()
    {
        var scope = CreateScope();
        var form = await new Caspian.Engine.Service.WorkflowFormService(scope).SingleAsync(WorkflowFormId);
        subSystemKind = form.SubSystemKind;
        entityFields = new WfFormEntityFieldService(scope).GetAll().Where(t => t.WorkflowFormId == WorkflowFormId).ToList();
        await base.OnInitializedAsync();
    }

    [Parameter]
    public int WorkflowFormId{ get; set; }

    [Parameter]
    public EventCallback<PropertyInfo> OnPropertySelect{ get; set; }

    [Parameter]
    public EventCallback<DynamicParameter> OnDynamicParameterSelect{ get; set; }
}
