@namespace Caspian.Engine.Navigation

@inject IJSRuntime jSRuntime
@inject NavigationManager navigationManager
@inject IServiceScopeFactory ServiceScopeFactory
@inject SingletonMenuService SingletonMenuService

<div id="mainmenu">
    @if (Categories != null)
    {
        sholdRender = false;
        <ul class="accordion" id="accordion">
            @foreach (var category in Categories)
            {
                var menus = Menus.Where(t => t.MenuCategoryId == category.Id);
                var flag = menus.Any(t => curentUrl.Equals(t.Source));
                var style = flag ? "" : "display:none";
                if (menus.Any())
                {
                    <li class="default">
                        <div class="link" @onclick="@(async() => await ChangeValueAsync())">
                            <i class="fa @(category.IconFont)"></i>
                            <span>@category.Title</span>
                            <i class="c-icon fa fa-chevron-down"></i>
                        </div>
                        <ul style="@(style)" class="submenu">
                            @foreach (var menu in menus)
                            {
                                @if (curentUrl.Equals(menu.Source))
                                {
                                    <li class="selected" @ref="elm">
                                        <a href="@(menu.Source)">@(menu.Title)</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@(menu.Source)">@(menu.Title)</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    }
</div>
